{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!
{% endblock %}

{% block body %}
	<div class="chat">
		<div class="chat-icon" id="chat-icon"></div>
		<div class="chat-bubble" id="chat-bubble">
			{{ botResponse }}
		</div>
	</div>
	<form method="post">
		<input type="text" name="user_input" placeholder="Entrez votre message...">
		<button type="submit">Envoyer</button>
	</form>

    <style>

    body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat {
    position: relative;
}

.chat-icon {
    background-color: #007BFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-bubble {
    display: none;
    position: absolute;
    background-color: #007BFF;
    padding: 10px;
    border-radius: 5px;
    top: 60px;
    left: 10px;
    width: 200px;
    z-index: 1;
}

    </style>

	<script>
		const chatIcon = document.getElementById('chat-icon');
        const chatBubble = document.getElementById('chat-bubble');
        chatIcon.addEventListener('click', () => {
        if (chatBubble.style.display === 'block') {
        chatBubble.style.display = 'none';
        } else {
            chatBubble.style.display = 'block';
        }
        });
	</script>
{% endblock %}
